DATABASE_URL="postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres"
PORT=4000

# Stellar / Soroban
SOURCE_SECRET=""
SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"

# WASM Hashes (subidos una sola vez a la red)
TOKEN_FACTORY_WASM_HASH=""
PARTICIPATION_TOKEN_WASM_HASH=""
VAULT_WASM_HASH=""

# Deployer Contract
DEPLOYER_CONTRACT_ID=""
